@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}
.card-container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #afe7d6;
    width: 700px;
    height: 1200px;
    border-radius: 20px;
  }
  
  /* Styles for the card */
  .card {
    flex-basis: 65%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    position: absolute;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    align-self: center;
    border-radius: 100%;
    object-fit: fill;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Styles for the text container */
  .text-container {
    flex-basis: 30%;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 310px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 250px;
  }
  
  .text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-container p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  input[type=text] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

    a {
        flex: 1;
        text-decoration: none;
        outline: none;
        height: 35px;
        width: 70px;
        text-align: center;
        line-height: 3;
        color: rgb(255, 255, 255);
        background-color: black;
        
      }
    
    a:hover{
        background-color: #4070f4;
        height: 35px;
        width: 70px;
        animation: ease 0.2 reverse ease-in;
    }

    .text-container1 {
        flex-basis: 30%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        height: 100px;
        margin-top: 10px;
        cursor: pointer;
      }
    
    .text-container1 h2 {
        position: absolute;
        margin-top: 15px;
        margin-left: 15px;
    }

    .text-container1 input {
        width: 250px;
        padding: 16px 8px;
        margin: 8px 0;
        margin-left: 250px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }
    
    .text-container1 img {
        height: 50px;
        width: 50px;
        position: absolute;
        border-radius: 100%;
        margin-left: -280px;
        margin-top: 10px;
    }

    h3{
        margin-top: 10px;
    }